@media screen and (max-width: 1250px) {
  header {
    background: url("img/Ellipse 4.svg"), url("img/Circle 2.svg"), url("img/Circle 7.svg"), url("img/Circle 5.svg"), url("img/Circle 6.svg"), url("img/Circle 4.svg");
    background-position: -51px -45px, 649px center, 473px 229px, 790px 951px, 524px 744px;
    background-repeat: no-repeat;
  }
  header .container {
    padding-top: 40px;
  }
  header .container nav .nav-right .search svg {
    fill: #292930;
  }
  header .hero .container {
    gap: 80px;
  }
  header .hero .container .left {
    padding-left: 72px;
  }
}
@media screen and (max-width: 1021px) {
  header {
    background: url("img/Circle 6.svg"), url("img/Circle 7.svg"), url("img/Ellipse 4.svg"), url("./img/Circle 7 (1).svg"), url("./img/Circle 5 (1).svg");
    background-position: 454px 699px, 473px 229px, -51px -45px, right 110px, right 722px;
    background-repeat: no-repeat;
  }
  header .container nav .nav-right .button {
    display: none;
  }
}
@media screen and (max-width: 761px) {
  header {
    background: url("./img/Circle 7 (1).svg"), url("./img/Circle 6 (1).svg"), url("./img/Circle 5 (1).svg"), url("./img/Circle 8.svg");
    background-position: right 110px, 237px 300px, right 722px, 311px 429px;
    background-repeat: no-repeat;
  }
  header .container {
    max-width: 600px;
    padding-top: 40px;
  }
  header .container nav {
    padding: 0 32px;
  }
  header .container nav .nav-left label {
    display: block;
  }
  header .container nav .nav-left .logo1 {
    display: none;
  }
  header .container nav .nav-left #menu {
    position: absolute;
    display: none;
    left: 0px;
    top: 134px;
  }
  header .container nav .nav-left #menu li a {
    color: var(--text-grey, #999FAE);
    font-family: "DM Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    letter-spacing: -0.65px;
  }
  header .container nav .nav-left #menu li:hover {
    border-bottom: solid transparent;
  }
  header .container nav .nav-left input:checked + #menu {
    display: flex;
    width: 311px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: white;
  }
  header .container nav .nav-left input:checked + #menu li .scene {
    display: inline-block;
  }
  header .container nav .nav-left input:checked + #menu li .scene .manitor {
    background-image: url("img/Group.png"), url("img/Group (1).png"), url("img/monitor.png");
    background-repeat: no-repeat;
    background-position: 23px 62px, 15px 15px, 0px 0px;
    width: 310.447px;
    background-size: 85%, 90%, 123%;
    height: 248.804px;
  }
  header .container nav .nav-left input:checked + #menu li .scene .top-left {
    position: absolute;
    width: 100%;
    background-image: url("./img/left.png");
    background-repeat: no-repeat;
    max-width: 101.795px;
    height: 48.367px;
    transform: translate(-168px, 25px);
    background-size: 100%;
  }
  header .container nav .nav-left input:checked + #menu li .scene .top-right {
    position: absolute;
    width: 100%;
    background-image: url("./img/right.png");
    background-repeat: no-repeat;
    max-width: 75.022px;
    height: 81.234px;
    transform: translate(82px, -64px);
    background-size: 146%;
  }
  header .container nav .nav-left input:checked + #menu li .scene .klv {
    position: absolute;
    width: 100%;
    background-image: url("./img/klv.png");
    background-repeat: no-repeat;
    max-width: 172.658px;
    height: 19.122px;
    background-size: 100%;
  }
  header .container nav .nav-left input:checked + #menu li .scene .mouse {
    width: 100%;
    background-image: url("./img/Mouse.png");
    background-repeat: no-repeat;
    transform: translate(122px, 160px);
    max-width: 40.493px;
    height: 20.077px;
    background-size: 100%;
    background-position: 0;
  }
  header .container nav .logo2 {
    display: flex;
    gap: 7px;
  }
  header .container nav .nav-right .button {
    display: none;
  }
  header .hero .container {
    overflow: initial;
    flex-direction: column;
    gap: 52px;
    max-width: 600px;
    padding-left: 0px;
    padding-top: 52px;
  }
  header .hero .container input:checked + .left {
    display: none;
  }
  header .hero .container .left {
    padding-left: 32px;
    max-width: 276px;
    gap: 40px;
  }
  header .hero .container .left h1 {
    color: #292930;
    font-size: 60px;
    /* 59.596px */
    letter-spacing: -1.5px;
  }
  header .hero .container .left p {
    max-width: 230px;
  }
  header .hero .container .left .buttons {
    margin-top: 16px;
    gap: 16px;
  }
  header .hero .container .left .buttons a:nth-child(1) {
    display: inline-flex;
    padding: 0px 46px;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    height: 64px;
  }
  header .hero .container .left .buttons a:nth-child(2) {
    display: inline-flex;
    padding: 0px 0px;
    justify-content: center;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--stroke-super-light, #E3E6E9);
  }
  header .hero .container .left .buttons a:nth-child(2) p {
    display: none;
  }
  header .hero .container .left .bottom {
    padding-top: 70px;
  }
  header .hero .container .scene .manitor {
    background-position: 23px 62px, 15px 15px, 0px 0px;
    width: 310.447px;
    background-size: 85%, 90%, 123%;
    height: 248.804px;
  }
  header .hero .container .scene .manitor .top-left {
    max-width: 101.795px;
    height: 48.367px;
    top: 129px;
    left: -64px;
    background-size: 100%;
  }
  header .hero .container .scene .manitor .top-right {
    max-width: 75.022px;
    height: 81.234px;
    top: 26px;
    left: 200px;
    background-size: 146%;
  }
  header .hero .container .scene .manitor .klav {
    max-width: 172.658px;
    height: 19.122px;
    top: 275px;
    left: 80px;
  }
  header .hero .container .scene .manitor .mause {
    top: 272px;
    left: 255px;
    max-width: 40.493px;
    height: 20.077px;
    background-size: 100%;
    background-position: 0;
  }
}/*# sourceMappingURL=media.css.map */